.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important; /*to override material ui styles, or we can do inline styles. if not, important is needed */
}

.confirmed {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 770px) {
  .card {
    margin: 3% 0 !important;
  }
}
